body {
      scroll-behavior: smooth;
    }

    /* Navbar */
    .navbar-brand img {
      height: 40px;
    }

    /* Carrossel */
    .carousel-item img {
      height: 70vh;
      object-fit: cover;
    }

    /* Cards */
    .card-info {
      background-color: hsl(17, 100%, 50%);
      color: white;
      padding: 10px;
      text-align: center;
      border-radius: 0 0 5px 5px;
    }

    /* Contato */
    #contato form {
      background-color: #f8f9fa;
      padding: 20px;
      border-radius: 10px;
    }

    /* Footer */
    footer {
      background-color: #010813;
      color: white;
      text-align: center;
      padding: 20px 0;
    }

    footer a {
      color: white;
      margin: 0 10px;
      font-size: 1.5rem;
    }

    footer a:hover {
      color: #dcdcdc;
    }